<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Smiles Jobs</title>
</head>
<body>

<h2 class="mt-4">Notifications</h2>
<table class="table" id="sortable-table">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Related Job Offer</th>
        <th>Proposed Meeting Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="notificationDTO : ${notificationDTOs}">
        <td th:text="${notificationDTO.id}"></td>
        <td th:text="${notificationDTO.candidateMessage}"></td>
        <td>
            <span th:if="${notificationDTO.jobOffer != null}">
                <a th:href="@{'/jobOffer/' + ${notificationDTO.jobOffer.id}}" class="btn btn-info" role="button">View JobOffer</a>
            </span>
            <span th:unless="${notificationDTO.jobOffer != null}">-</span>
        </td>
        <td>
            <span th:text="${#temporals.format(notificationDTO.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
            <div class="mt-2" th:if="${notificationDTO.dateTime != null}">
                <div class="mt-2" th:if="${notificationDTO.status.getDisplayName() == 'Meeting scheduling'}">
                    <form th:action="@{/acceptMeetingDate}" method="post" class="d-inline">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer != null ? notificationDTO.jobOffer.id : ''}">
                        <button type="submit" class="btn btn-success">ACCEPT</button>
                    </form>
                    <form th:action="@{/changeMeetingDate}" method="post" class="d-inline">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer.id}">
                        <button type="submit" class="btn btn-warning">CHANGE</button>
                    </form>
                </div>
            </div>
        </td>
        <td th:if="${notificationDTO.status != null}" th:text="${notificationDTO.status.getDisplayName()}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${totalNotificationPages > 1}">
    <nav aria-label="Notification Page Navigation">
        <!-- Pagination controls for notifications -->
        <ul class="pagination" id="notification-pagination">
            <li th:class="${currentNotificationPage == 0 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{${currentNotificationPage == 0 ? '#': '/candidateNotifications?page=' + (currentNotificationPage - 1)}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="j : ${#numbers.sequence(0, totalNotificationPages - 1)}" th:class="${j == currentNotificationPage ? 'page-item active' : 'page-item'}">
                <a class="page-link" th:href="@{'/candidateNotifications?page=' + ${j}}" th:text="${j + 1}"></a>
            </li>
            <li th:class="${currentNotificationPage == totalNotificationPages - 1 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{${currentNotificationPage == totalNotificationPages - 1 ? '#': '/candidateNotifications?page=' + (currentNotificationPage + 1)}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="col-md-4">
    <a th:href="@{/candidate_portal}"  class="btn btn-info" role="button">Go to Candidate Portal</a>
</div>

</body>
</html>