<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smiles Jobs</title>
    <!-- Dodaj link do pliku CSS Bootstrapa -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Dodaj link do pliku CSS DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Welcome to Smiles Jobs</h1>

    <h2 class="mt-4">Job Offers</h2>
    <table class="table" id="sortable-table-job-offers">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Position</th>
            <th>Responsibilities</th>
            <th>Required Technologies</th>
            <th>Benefits</th>
            <th>Details</th>
            <th>Send CV</th>

            <!-- Wyświetl połączoną wartość Salary Range -->
            <th>Data i godzina</th>
        </tr>
        </thead>
        <tbody>
        <!-- Poniżej dodaj pętlę Thymeleaf, aby wyświetlać oferty pracy -->
        <tr th:each="jobOfferDTO : ${jobOffersDTOs}">
            <td th:text="${jobOfferDTO.id}"></td>
            <td th:text="${jobOfferDTO.companyName}"></td>
            <td th:text="${jobOfferDTO.position}"></td>
            <td th:text="${jobOfferDTO.responsibilities}"></td>
            <td th:text="${jobOfferDTO.requiredTechnologies}"></td>
            <td th:text="${jobOfferDTO.benefits}"></td>
            <td>
                <a th:href="@{/jobOffer/{jobOfferId}(jobOfferId=${jobOfferDTO.id})}" class="btn btn-info" role="button">View
                    Details</a>
            </td>
            <!--            <td>-->
            <!--                <form th:action="@{/sendCv}" method="post">-->
            <!--                    <input type="hidden" name="jobOfferId" th:value="${jobOfferDTO.id}">-->
            <!--                    <button type="submit" class="btn btn-primary">Send CV</button>-->
            <!--                </form>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>
    <form action="/searchJobOffers" method="get" class="mt-4">
        <div class="form-row">
            <div class="col-md-4">
                <label for="category">Search by category:</label>
                <select id="category" name="category" class="form-control">
                    <option value="companyName">Company Name</option>
                    <option value="position">Position</option>
                    <option value="responsibilities">Responsibilities</option>
                    <option value="requiredTechnologies">Required Technologies</option>
                    <option value="benefits">Benefits</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="keyword">Search by keywords:</label>
                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Enter a keyword">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>


    <h2 class="mt-4">Stwórz swoje CV</h2>
    <div class="d-flex">
        <div class="col-md-4">
            <a th:href="@{/CvForm}" method="GET" class="btn btn-info" role="button">Create CV</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/redirectToShowMyCV}" method="GET" class="btn btn-info" role="button">Show my CV</a>
        </div>


    </div>

</div>
<br>
<br>
<br>
<h2 class="mt-4">Notifications</h2>
<table class="table" id="sortable-table">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Dotyczy oferty</th>
        <th>Proponowany termin
            rozmowy
        </th>
        <th>STATUS</th>
        <!--        <th>Created At</th>-->
        <!-- Dodaj inne kolumny w zależności od struktury NotificationDTO -->
    </tr>
    </thead>
    <tbody>
    <!-- Poniżej dodaj pętlę Thymeleaf, aby wyświetlać powiadomienia -->
    <tr th:each="notificationDTO : ${notifications}">
        <td th:text="${notificationDTO.id}"></td>
        <td th:text="${notificationDTO.candidateMessage}"></td>

        <td>
            <a th:href="@{'/jobOffer/' + ${notificationDTO.jobOffer.id}}" class="btn btn-info" role="button">
                View JobOffer
            </a>
        <td>
            <span th:text="${#temporals.format(notificationDTO.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
            <div class="mt-2" th:if="${notificationDTO.dateTime != null}">
                <form th:action="@{/acceptMeetingDate}" method="post" class="d-inline">
                    <div class="mt-2" th:if="${notificationDTO.status == 'WAITING_FOR_INTERVIEW'}">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer.id}">
                        <button type="submit" class="btn btn-success">ACCEPT</button>
                    </div>
                </form>
                <form th:action="@{/changeMeetingDate}" method="post" class="d-inline">
                    <div class="mt-2" th:if="${notificationDTO.status == 'WAITING_FOR_INTERVIEW'}">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer.id}">
                        <button type="submit" class="btn btn-warning">CHANGE</button>
                    </div>
                </form>
            </div>
        </td>


        </td>
        <td th:if="${notificationDTO.status != null}" th:text="${notificationDTO.status.getDisplayName()}"></td>
        <!--        <td th:text="${notificationDTO.createdAt}"></td>-->

        <!-- Dodaj inne komórki w zależności od struktury NotificationDTO -->

    </tr>
    </tbody>
</table>
<br>
<br>
<br>
</body>
</html>
