<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smiles Jobs</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
<div class="container">


    <div class="d-flex justify-content-end align-items-center mb-3">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
    <h1 class="mt-4">Welcome to Smiles Jobs</h1>
    <h2 class="mt-4">Job Offers</h2>
    <table class="table" id="sortable-table-job-offers">
        <thead class="table-dark">
        <tr>
            <th>Number</th>
            <th>Company Name</th>
            <th>Position</th>
            <th>Experience</th>
            <th>Job Location</th>
            <th>Type Of Work</th>
            <th>Min Salary</th>
            <th>Max Salary</th>
            <th>Details</th>
            <th>Send CV</th>
            <th>Date and Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jobOfferDTO : ${jobOfferDTOs}"
            th:style="${jobOfferDTO.active == false ? 'color: gray;' : 'color: black;'}">

            <td th:text="${jobOfferDTO.id}"></td>
            <td th:text="${jobOfferDTO.companyName}"></td>
            <td th:text="${jobOfferDTO.position}"></td>
            <td th:text="${jobOfferDTO.experience}"></td>
            <td th:text="${jobOfferDTO.jobLocation}"></td>
            <td th:text="${jobOfferDTO.typeOfWork}"></td>
            <td th:text="${jobOfferDTO.salaryMin}"></td>
            <td th:text="${jobOfferDTO.salaryMax}"></td>
            <td>
                <a th:href="@{/jobOffer/{jobOfferId}(jobOfferId=${jobOfferDTO.id})}" class="btn btn-info" role="button">View Details</a>
            </td>
            <td>
                <form th:if="${jobOfferDTO.active}" th:action="@{/sendCV}" method="post">
                    <input type="hidden" name="jobOfferId" th:value="${jobOfferDTO.id}">
                    <button type="submit" class="btn btn-primary">Send CV</button>
                </form>
            </td>
            <td th:text="${#temporals.format(jobOfferDTO.jobOfferDateTime, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalJobOfferPages > 1}">
        <nav aria-label="Job Offers Page Navigation">

            <ul class="pagination" id="job-offer-pagination">
                <li th:class="${currentJobOfferPage == 0 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{${currentJobOfferPage == 0 ? '#': '/candidate_portal?page=' + (currentJobOfferPage - 1)}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, totalJobOfferPages - 1)}" th:class="${i == currentJobOfferPage ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{'/candidate_portal?page=' + ${i}}" th:text="${i + 1}"></a>
                </li>
                <li th:class="${currentJobOfferPage == totalJobOfferPages - 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{${currentJobOfferPage == totalJobOfferPages - 1 ? '#': '/candidate_portal?page=' + (currentJobOfferPage + 1)}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <form action="/searchJobOffers" method="get" class="mt-4">
        <div class="form-row">
            <div class="col-md-4">
                <label for="category">Search by category:</label>
                <select id="category" name="category" class="form-control">
                    <option value="companyName">Company Name</option>
                    <option value="position">Position</option>
                    <option value="experience">Experience</option>
                    <option value="jobLocation">Job Location</option>
                    <option value="typeOfWork">Type Of Work</option>
                    <option value="requiredLanguage">Required Language</option>
                    <option value="salaryMin">Min Salary</option>
                    <option value="requiredTechnologies">Required Technologies</option>
                    <option value="benefits">Benefits</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="keyword">Search by keywords:</label>
                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Enter a keyword">
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
                <span class="text-muted ml-2"> (Only active job offers)</span>
            </div>
        </div>
    </form>


    <h2 class="mt-4">CV Centre</h2>
    <div class="d-flex">
        <div class="col-md-4">
            <a th:href="@{/CvForm}" class="btn btn-info" role="button">Create CV</a>

        </div>
    </div>


        <div class="col-md-4">
            <br>
            <a th:href="@{/ShowMyCV}" class="btn btn-info" role="button">Show my CV</a>
        </div>
    </div>

<br>
<br>
<br>

   <h2 class="mt-4">Notifications</h2>
    <table class="table" id="sortable-table">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Related Job Offer</th>
        <th>Proposed Meeting Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="notificationDTO : ${notificationDTOs}">
        <td th:text="${notificationDTO.id}"></td>
        <td th:text="${notificationDTO.candidateMessage}"></td>
        <td>
        <span th:if="${notificationDTO.jobOffer != null}">
            <a th:href="@{'/jobOffer/' + ${notificationDTO.jobOffer.id}}" class="btn btn-info" role="button">View JobOffer</a>
        </span>
            <span th:unless="${notificationDTO.jobOffer != null}">-</span>
        </td>
        <td>
            <span th:text="${#temporals.format(notificationDTO.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
            <div class="mt-2" th:if="${notificationDTO.dateTime != null}">
                <div class="mt-2" th:if="${notificationDTO.status.getDisplayName() == 'Meeting scheduling'}">
                    <form th:action="@{/acceptMeetingDate}" method="post" class="d-inline">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
<!--                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer.id}">-->
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer != null ? notificationDTO.jobOffer.id : ''}">
                        <button type="submit" class="btn btn-success">ACCEPT</button>
                    </form>
                    <form th:action="@{/changeMeetingDate}" method="post" class="d-inline">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer.id}">
                        <button type="submit" class="btn btn-warning">CHANGE</button>
                    </form>
                </div>
            </div>
        </td>
        <td th:if="${notificationDTO.status != null}" th:text="${notificationDTO.status.getDisplayName()}"></td>
    </tr>
    </tbody>


</table>
<div class="col-md-4">
    <a th:href="@{/candidateNotifications}" class="btn btn-info" role="button">All notifications</a>
</div>


</body>
</html>
