<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Smiles Jobs</title>
</head>

<body>
<div class="container">
    <h1>Welcome to Smiles Jobs!</h1>
</div>

<div class="container">
    <div class="row mt-3">

    </div>
    <br>
    <h2>Are you looking for new employment?</h2>
    <p>The best place to find an employee is SmilesJobs!</p>
    <p>Please take a look at job seekers</p>

    <div>
        <table class="table" id="sortable-table-cv">
            <thead class="table-dark">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Work experience</th>
                <th>Skills</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cvDTO : ${cvList}">
                <td th:text="${cvDTO.id}"></td>
                <td th:text="${cvDTO.name}"></td>
                <td th:text="${cvDTO.surname}"></td>
                <td th:text="${cvDTO.workExperience}"></td>
                <td th:text="${cvDTO.skills}"></td>
                <td>
                    <a th:href="@{/cv/{cvId}(cvId=${cvDTO.id})}" class="btn btn-info" role="button">View Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>

    <form action="/search" method="get" class="mt-4">
        <div class="form-row">
            <div class="col-md-4">
                <label for="category">Search by category:</label>
                <select id="category" name="category" class="form-control">
                    <option value="name">Name</option>
                    <option value="surname">Surname</option>
                    <option value="workExperience">workExperience</option>
                    <option value="skills">Skills</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="keyword">Search for job seekers:</label>
                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Enter a keyword">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <h2 class="mt-4">Create a job offer</h2>

    <div class="col-md-4">
        <a th:href="@{/create_job_offer}" method="GET" class="btn btn-info" role="button">Create Job Offer</a>
    </div>
    <br>

    <div class="col-md-4">
        <a th:href="@{/showMyJobOffers}" method="GET" class="btn btn-info" role="button">Show My Job Offer</a>
    </div>
    <br>

    <h2 class="mt-4">Create your Business Card</h2>

    <div class="col-md-4">
        <a th:href="@{/BusinessCardForm}" class="btn btn-success" role="button">Create Business Card</a>
    </div>
    <br>

    <div class="col-md-4">
        <a th:href="@{/redirectToShowMyBusinessCard}" method="GET" class="btn btn-info" role="button">Show my Business Card</a>
    </div>
    <br>

    <h2 class="mt-4">Notifications</h2>
    <table class="table" id="sortable-table">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Dotyczy Oferty</th>
            <th>Message</th>
            <th>CV</th>
            <th>ARRANGE A JOB INTERVIEW</th>
            <th>STATUS</th>
            <th>Decision</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notificationDTO : ${notifications}">
            <td th:text="${notificationDTO.id}"></td>
            <td th:text="${notificationDTO.jobOffer.id}"></td>
            <td th:text="${notificationDTO.companyMessage}"></td>
            <td>
                <a th:href="@{/cv/{cvId}(cvId=${notificationDTO.cv.id})}" class="btn btn-info" role="button">View Details</a>
            </td>
            <td>
                <span th:text="${#temporals.format(notificationDTO.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
                <div class="mt-2" th:if="${notificationDTO.dateTime == null}">

                    <form th:action="@{/arrangeInterview}" method="post">
                        <input type="hidden" name="jobOfferId" th:value="${notificationDTO.jobOffer.id}">
                        <input type="hidden" name="cvId" th:value="${notificationDTO.cv.id}">
                        <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                        <div class="form-row">
                            <div class="col-md-8">
                                <label for="proposedDateTime">Proposed Date and Time:</label>
                                <input type="datetime-local" id="proposedDateTime" name="proposedDateTime" th:value="${#temporals.format(proposedDateTime, 'yyyy-MM-ddTHH:mm')}" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">ARRANGE</button>
                    </form>
                </div>
            </td>
            <td th:if="${notificationDTO.status != null}" th:text="${notificationDTO.status.getDisplayName()}"></td>
            <td>
                <div class="mt-2" th:if="${notificationDTO.dateTime != null}">
                    <div>
<!--                            th:if="${#temporals.dateTime(notificationDTO.dateTime).isBefore(#temporals.createNow())}"-->

                        <form th:action="@{/decline}" method="post" class="d-inline">
                            <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                            <input type="hidden" name="cvId" th:value="${notificationDTO.cv.id}">
                            <button type="submit" class="btn btn-danger">Decline</button>
                        </form>
                        <form th:action="@{/hired}" method="post" class="d-inline">
                            <input type="hidden" name="notificationId" th:value="${notificationDTO.id}">
                            <input type="hidden" name="cvId" th:value="${notificationDTO.cv.id}">
                            <button type="submit" class="btn btn-success">Hired</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>

</div>
<div class="col-md-4">
    <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
</div>
</body>

</html>
