<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create CV</title>
</head>
<body onload="displaySelectedLanguages()">
<h2>Create CV</h2>

<form th:action="@{/createCV}" th:object="${cvDTO}" method="post">
    <label>Name: </label>
    <input type="text" th:field="*{name}" required/><br/>

    <label>Surname: </label>
    <input type="text" th:field="*{surname}" required/><br/>

    <label>Sex: </label>
    <input type="text" th:field="*{sex}" required/><br/>

    <label>Date of Birth: </label>
    <input type="text" th:field="*{dateOfBirth}" required/><br/>

    <label>Marital Status: </label>
    <input type="text" th:field="*{maritalStatus}" required/><br/>

    <label>Phone Number: </label>
    <input type="text" th:field="*{phoneNumber}" required/><br/>

    <label>Email: </label>
    <input type="text" th:field="*{contactEmail}" required/><br/>

    <label for="programmingLanguages">Programming Languages:</label>
    <select id="programmingLanguages" name="programmingLanguages" multiple th:onchange="|displaySelectedLanguages()|">
        <option th:each="language : ${programmingLanguages}" th:value="${language.name}" th:text="${language.displayName}"></option>
    </select><br/>

    <div id="selectedLanguages"></div><br/>

    <!-- Pozostałe pola formularza -->

    <input type="hidden" id="selectedLanguagesInput" name="selectedLanguages" />
    <!-- Ukryte pola formularza do przechowywania wybranych języków programowania -->


    <label>Education: </label>
    <input type="text" th:field="*{education}" required/><br/>

    <label>Work Experience: </label>
    <input type="text" th:field="*{workExperience}" required/><br/>

    <label>Skills: </label>
    <input type="text" th:field="*{skills}" required/><br/>

    <label>Language: </label>
    <input type="text" th:field="*{language}" required/><br/>

    <label>Language Level: </label>
    <input type="text" th:field="*{languageLevel}" required/><br/>

    <label>Hobby: </label>
    <input type="text" th:field="*{hobby}" required/><br/>

    <label for="country">Country:</label>
    <input type="text" id="country" name="address.country" required><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="address.city" required><br>

    <label for="streetAndNumber">Street and Number:</label>
    <input type="text" id="streetAndNumber" name="address.streetAndNumber" required><br>

    <!-- Hidden field for userId -->
    <input type="hidden" id="userId" name="userId" th:value="${userDTO.id}">

    <!-- Include other CV fields as needed -->

    <input type="submit" value="Create CV"/>
</form>


<script th:inline="javascript">
    function displaySelectedLanguages() {
        var select = document.getElementById("programmingLanguages");
        var selectedLanguages = [];
        for (var i = 0; i < select.length; i++) {
            if (select.options[i].selected) {
                selectedLanguages.push(select.options[i].text);
            }
        }
        document.getElementById("selectedLanguages").innerHTML = "Selected Languages: " + selectedLanguages.join(", ");
    }
</script>

</body>
</html>
