<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Tworzenie Ogłoszenia</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Tworzenie Ogłoszenia</h1>
  <form th:action="@{/createJobOffer}" th:object="${jobOfferDTO}" method="post">
    <!--  <input type="hidden" name="username" value="${username}">-->

    <div class="form-group">
      <label for="companyName">Company name</label>
      <input type="text" class="form-control" name="companyName" id="companyName" required>
    </div>

    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" class="form-control" name="position" id="position" required>
    </div>

    <div class="form-group">
      <label for="responsibilities">Responsibilities</label>
      <input type="text" class="form-control" name="responsibilities" id="responsibilities" required>
    </div>

    <div class="form-group">
      <label for="requiredTechnologies">Required Technologies</label>
      <input type="text" class="form-control" name="requiredTechnologies" id="requiredTechnologies" required>
    </div>

    <div class="form-group">
      <label for="experience">Experience </label>
      <input type="text" class="form-control" name="experience" id="experience" required>
    </div>

    <div class="form-group">
      <label for="jobLocation">Job Location</label>
      <input type="text" class="form-control" name="jobLocation" id="jobLocation" required>
    </div>


    <div class="form-group">
      <label for="typeOfContract">Typ Of Contract</label>
      <input type="text" class="form-control" name="typeOfContract" id="typeOfContract" required>
    </div>

    <div class="form-group">
      <label for="typeOfWork">Type Of Work</label>
      <input type="text" class="form-control" name="typeOfWork" id="typeOfWork" required>
    </div>

    <div class="form-group">
      <label for="salaryMin">Minimum Salary</label>
      <input type="text" class="form-control" name="salaryMin" id="salaryMin">
    </div>

    <div class="form-group">
      <label for="salaryMax">Maximum Salary</label>
      <input type="text" class="form-control" name="salaryMax" id="salaryMax">
    </div>

    <div class="form-group">
      <label for="requiredLanguage">Required Language</label>
      <input type="text" class="form-control" name="requiredLanguage" id="requiredLanguage">
    </div>

    <div class="form-group">
      <label for="requiredLanguageLevel">Required Language Level</label>
      <input type="text" class="form-control" name="requiredLanguageLevel" id="requiredLanguageLevel">
    </div>

    <div class="form-group">
      <label for="benefits">Benefits</label>
      <input type="text" class="form-control" name="benefits" id="benefits" required>
    </div>

    <div class="form-group">
      <label for="jobDescription">Job Description</label>
      <input type="text" class="form-control" name="jobDescription" id="jobDescription">
    </div>

    <div class="form-group">
      <label for="neededStaff">Needed staff:</label>
      <input type="text" class="form-control" name="neededStaff" id="neededStaff">
    </div>

    <input type="hidden" class="form-control" name="jobOfferDateTime" id="jobOfferDateTime" required>

    <!-- Dodatkowe pola formularza dla innych danych ogłoszenia -->

    <button type="submit" class="btn btn-primary">Utwórz Ofertę Pracy</button>
  </form>
</div>

<script>
    // Pobierz pole dateTime
    const jobOfferDateTime = document.getElementById("jobOfferDateTime");

    // Ustaw wartość pola dateTime na aktualną datę i czas
    const currentDateTime = new Date().toISOString().slice(0, 16);
    jobOfferDateTime.value = currentDateTime;
</script>
</body>
</html>
