<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Tworzenie Ogłoszenia</title>
</head>
<body>
<h1>Tworzenie Ogłoszenia</h1>
<form th:action="@{/createJobOffer}" th:object="${jobOfferDTO}" method="post">
<!--  <input type="hidden" name="username" value="${username}">-->

  <label for="companyName">Nazwa firmy</label>
  <input type="text" name="companyName" id="companyName" required>

  <label for="position">Stanowisko</label>
  <input type="text" name="position" id="position" required>

  <label for="responsibilities">Zakres obowiązków</label>
  <input type="text" name="responsibilities" id="responsibilities" required>

  <label for="requiredTechnologies">Wymagane technologie</label>
  <input type="text" name="requiredTechnologies" id="requiredTechnologies" required>

  <label for="benefits">Benefity</label>
  <input type="text" name="benefits" id="benefits" required>

<!--  <label for="salary">Salary:</label>-->
<!--  <input type="number" step="0.01" name="salary" id="salary" required>-->


<!--  <label for="maxSalary">Maximum Salary:</label>-->
<!--  <input type="text" name="maxSalary" id="maxSalary" required>-->


  <input type="hidden" name="jobOfferDateTime" id="jobOfferDateTime" required>

  <!-- Dodatkowe pola formularza dla innych danych ogłoszenia -->

  <button type="submit">Utwórz Ofertę Pracy</button>
</form>
<script>
  // Pobierz pole dateTime
  const jobOfferDateTime = document.getElementById("jobOfferDateTime");

  // Ustaw wartość pola dateTime na aktualną datę i czas
  const currentDateTime = new Date().toISOString().slice(0, 16);
  jobOfferDateTimeField.value = currentDateTime;
</script>
</body>
</html>
