<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Advertisement</title>
</head>
<body>
<div class="container">
  <h1 class="mt-4">Create Advertisement</h1>
  <form th:action="@{/createAdvertisement}"   th:object="${advertisement}"method="post">
    <div class="form-group">
      <label for="name">Advertisement Name</label>
      <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <!-- Dodaj inne pola reklamy -->
    <button type="submit" class="btn btn-primary">Create Advertisement</button>
  </form>
</div>

<form th:action="@{/show}" method="GET">
  <input type="text" name="userId" placeholder="Wprowadź userId">
  <button type="submit" class="btn btn-info">Company Registry</button>
</form>

<br>
</body>
</html>
