<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>CV Already Created</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="alert alert-warning mt-4" role="alert">
    <h4 class="alert-heading">Alert!</h4>
    <p>You have already sent your CV for this job offer</p>
    <hr>
  </div>

  <a th:href="@{/candidate_portal}" class="btn btn-primary mt-4" role="button">Go to Candidate Portal</a>
</div>
</body>
</html>
