<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Business Card Details</title>
    <!-- Dodaj link do pliku CSS Bootstrapa -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Business Card Details</h1>

    <div class="card mt-4">
        <div class="card-header">
<!--            <h2 th:text="${businessCard.user.fullName}"></h2>-->
        </div>
        <div class="card-body">
            <p><strong>Company Name:</strong>
<!--                <span th:text="${businessCard.companyName}"></span></p>-->
            <p><strong>Office:</strong> <span th:text="${businessCardDTO.office}"></span></p>
            <p><strong>Scope of Operations:</strong> <span th:text="${businessCardDTO.scopeOperations}"></span></p>
            <p><strong>Recruitment Email:</strong> <span th:text="${businessCardDTO.recruitmentEmail}"></span></p>
            <p><strong>Phone Number:</strong> <span th:text="${businessCardDTO.phoneNumber}"></span></p>
            <p><strong>Company Description:</strong> <span th:text="${businessCardDTO.companyDescription}"></span></p>
            <p><strong>Technologies and Tools:</strong> <span th:text="${businessCardDTO.technologiesAndTools}"></span></p>
            <p><strong>Certificates and Awards:</strong> <span th:text="${businessCardDTO.certificatesAndAwards}"></span></p>
        </div>

        <div class="col-md-6">
            <h3>Address</h3>
            <p th:text="'Country: ' + ${businessCardDTO.address.country}"></p>
            <p th:text="'City: ' + ${businessCardDTO.address.city}"></p>
            <p th:text="'Street and Number: ' + ${businessCardDTO.address.streetAndNumber}"></p>
            <p th:text="'Postal Code: ' + ${businessCardDTO.address.postalCode}"></p>


        </div>

        <div class="col-md-4">
            <a th:href="@{/redirectToUpdateMyBusinessCard}" method="GET" class="btn btn-info" role="button">Update my Business Card</a>
        </div>
        <br>
            <form action="#"
                  th:action="@{/deleteBusinessCard}"
                  th:method="DELETE"
                  th:object="${businessCardDTO}">
                <input type="hidden" th:field="*{id}"/>

                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
    </div>

    <a th:href="@{/company_portal}" class="btn btn-primary mt-4">Back to Company Portal</a>
</div>
</body>
</html>
