<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Job Offers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h1 class="mt-4">My Job Offers</h1>

  <div th:if="${jobOffers}">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Position</th>
        <th scope="col">Responsibilities</th>
        <th scope="col">Required Technologies</th>
        <th scope="col">Benefits</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Actions</th> <!-- Dodaj nową kolumnę dla przycisku "Update" -->
      </tr>
      </thead>
      <tbody>
      <tr th:each="jobOffer : ${jobOffers}">
        <td th:text="${jobOffer.id}"></td>
        <td th:text="${jobOffer.companyName}"></td>
        <td th:text="${jobOffer.position}"></td>
        <td th:text="${jobOffer.responsibilities}"></td>
        <td th:text="${jobOffer.requiredTechnologies}"></td>
        <td th:text="${jobOffer.benefits}"></td>
        <td th:text="${jobOffer.jobOfferDateTime}"></td>
        <td>
          <!-- Dodaj przycisk "Update" z linkiem do formularza aktualizacji -->
          <a class="btn btn-warning" th:href="@{'/updateJobOfferForm?id=' + ${jobOffer.id}}">Update</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <div th:unless="${jobOffers}">
    <p>No job offers found</p>
  </div>

  <div class="mt-4">
    <a th:href="@{/{user}/company_portal}" class="btn btn-info" role="button">Back to Company Portal</a>
  </div>
</div>

</body>
</html>
